###Windows###

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN\


###Linux###

!.tfignore
*~

# KDE
.directory


###OSX###

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes



##Django##

# files to ignore
db.sqlite3
Gale/config/local_settings.py

!uploads/

uploads/*
!uploads/images/

uploads/images/*
!uploads/images/demo/

# extensions to ignore
*.log
*.pot
*.pyc



##IDE's##

# directories to ignore
.idea/


##Coverage##

.coverage
htmlcov/


##Frontend Build Tools##

/static/css/*
/static/fonts/*
/static/img/*
/static/js/*

node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports

templates/index.html
