<nav>
    <ul class="list-unstyled main-menu">
        <li class="text-right close__menu">
            <a href="#" id="nav-close">X</a>
        </li>
        <li>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </li>
        <li class="text-center image__menu">
            <a href="#">
                <img src="http://placehold.it/250x75" />
            </a>
        </li>
        <li class="text-center image__menu">
            <a href="#">
                <img src="http://placehold.it/250x75" />
            </a>
        </li>
        <li class="text-center image__menu">
            <a href="#">
                <img src="http://placehold.it/250x75" />
            </a>
        </li>
        <li class="text-center image__menu">
            <a href="#">
                <img src="http://placehold.it/250x75" />
            </a>
        </li>
    </ul>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-right">
        <a id="nav-expander" class="nav-expander fixed">
            <i class="fa fa-bars fa-lg white"></i>
        </a>
    </div>
</div>
