<div class="container read__next">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="read__next-title">
                What to Read Next?
            </h2>

            <div class="slick__carousel" data-slick='{"slidesToShow": 3, "dots": false, "infinite": false, "responsive": [{"breakpoint": 1026, "settings": {"slidesToShow": 2}}, {"breakpoint": 642, "settings": {"slidesToShow": 1}}]}'>
                {% for next_article in next_articles %}
                    <div class="slider__item text-center">
                        <a class="slider__item-image" href="#" title="{{ next_article.title }}">
                            <img src="{{ MEDIA_URL }}{{ next_article.hero_image }}" alt="{{ next_article.title }}" />
                        </a>

                        <a class="slider__item-title" href="#">
                            {{ next_article.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
