.btn-default {
  &:hover {
    background-color: $link-hover-color;
    color: white;
  }
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.form-control {
  font-size: 16px;
}
