.read__next {
  h2.read__next-title {
    margin-bottom: 30px;
  }

  .read__next-item {
    margin-bottom: 50px;

    .read__next-item-image {
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
