{% extends "base_no_read.html" %}

{% block content %}
    <header class="intro">
        <div class="intro__image" style="background-image: url('{{ MEDIA_URL }}images/demo/16.jpg')"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="post">
                        <h1 class="post-title">
                            Aww! Sorry Page Not Found :(
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock content %}
