{% extends "base.html" %}

{% block footer_js %}
    <script type="text/javascript">
        article__detail.init();
    </script>
{%  endblock %}

{% block content %}
    <input type="hidden" id="api__article_detail_url" value="{% url 'api__article_detail' article.id %}">

    <div id="vue__container">
        <header class="intro">
            <div class="intro__image" v-bind:style="hero_style"></div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="post">
                        <h1 class="post-title">
                            ${ article.title }
                        </h1>

                        <p class="post-meta">
                            Posted by <a href="#">${ article.author }</a> on ${ article.publication_date }
                        </p>

                        <div class="post-body">
                            <p>
                                {!! body_text_linebreaks !!}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" v-if="article.optional_image">
                    <div class="post">
                        <img v-bind:src="article.optional_image" class="post-optional-image">
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>
{% endblock content %}
