{% extends "base.html" %}

{% block content %}
    <header class="intro">
        <div class="intro__image" style="background-image: url('{{ MEDIA_URL }}{{ article.hero_image }}')"></div>
    </header>

    <div class="container">
        <div class="row">
            {% if article.optional_image %}
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12">
            {% endif %}
                <div class="post">
                    <h1 class="post-title">
                        {{ article.title }}
                    </h1>

                    <p class="post-meta">
                        Posted by <a href="#">{{ article.author }}</a> on {{ article.publication_date|date:'F jS, Y' }}
                    </p>

                    <div class="post-body">
                        {{ article.body_text|linebreaks }}
                    </div>
                </div>
            </div>

            {% if article.optional_image %}
                <div class="col-sm-4">
                    <div class="post">
                        <img src="{{ MEDIA_URL }}{{ article.optional_image }}" class="post-optional-image">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <hr>
{% endblock content %}
