{% extends "base.html" %}

{% block content %}
    {% if random_article %}
        <header class="intro">
            <div class="intro__image" style="background-image: url('{{ MEDIA_URL }}{{ random_article.hero_image }}')"></div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="post">
                            <h1 class="post-title">
                                <a href="#">{{ random_article.title }}</a>
                            </h1>

                            <p class="post-meta">
                                Posted by <a href="#">{{ random_article.author }}</a> on {{ random_article.publication_date|date:'F jS, Y' }}
                            </p>

                            <div class="post-body">
                                {{ random_article.body_text|linebreaks|truncatewords_html:100 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                    <div class="post">
                        <h2 class="post-title">
                            <a href="#">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p class="post-meta">
                            Posted by <a href="#">{{ article.author.get_full_name }}</a> on {{ article.publication_date|date:'F jS, Y' }}</p>

                        <div class="post-body">
                            {{ article.body_text|linebreaks|truncatewords_html:50 }}
                        </div>
                    </div>

                    <hr>
                {% endfor %}

                <ul class="pager">
                    {% if articles.has_previous %}
                        <li class="prev">
                            <a href="?page={{ articles.previous_page_number }}" class="pull-left">
                                &larr;
                                <span class="hidden-xs">
                                    Older Posts
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if articles.has_next %}
                        <li class="next">
                            <a href="?page={{ articles.next_page_number }}">
                                <span class="hidden-xs">
                                    Newer Posts
                                </span>
                                &rarr;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
