{% extends "base_no_read.html" %}

{% block footer_js %}
    <script type="text/javascript">
        article__search.init();
    </script>
{%  endblock %}

{% block content %}
    <input type="hidden" id="api__article_search_url" value="{% url 'api__article_search' %}">

    <div id="vue__container">
        <header class="search">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <input type="text" id="article__search_input" class="form-control" name="q" value="{{ term }}" placeholder="Enter your search term and hit enter...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post" v-for="article in articles">
                        <h2 class="post-title">
                            <a href="/blog/${ article.slug }">
                                ${ article.title }
                            </a>
                        </h2>
                        <p class="post-meta">
                            Posted by <a href="#">${ article.author }</a> on ${ article.publication_date}</p>

                        <div class="post-body">
                            <p v-text="article.body_text | trim_linebreaks"></p>
                        </div>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
