$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lora', 'Times New Roman', serif;
$font-size-base: 20px;
$text-color: #404040;
$headings-font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$headings-font-weight: 800;

$link-color: $text-color;
$link-hover-color: #0085a1;
$link-hover-decoration: none;

$pager-border-radius: 0;

$input-border-radius: 0;
$border-radius-base: 0;

$btn-default-color: $text-color;
